.content-wrapper {
	margin-top: 120px;
}

.section {
	box-sizing: border-box;
	padding: 0 15px;
}

.container__right {
	float: right;
	padding-left: 30px;
	width: 40%;
}

.container__left {
	float: left;
	padding-right: 30px;
	width: 60%;
}

.section__title {
	@extend %section-title;
}

.job__title {
	@extend %job-title;
}

.job__title__info {
	@extend %job-title-info;
}

.degree,
.job__subtitle {
	@extend %job-subtitle;
}

.description {
	display: block;
	margin-top: 6px;
}

.list {
	margin: 25px 0;
}

.list__left,
.list__right {
	box-sizing: border-box;
	display: inline-block;
	padding: 0 25px;
	vertical-align: top;
}

.list__left {
	padding-left: 0;
	text-align: right;
	width: 29%;
}

.list__right {
	width: 65%;
}

.container__skills {
	margin-top: 35px;
	min-height: 340px;
}