.header-wrapper {
	padding: 0 15px;
}

.bandeau {
	background: $primary-color;
	display: block;
	height: 13px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.link__circle {
	margin: 0 5px; 
}

.name {
	color: $title-color;	
	font-weight: bold;
	line-height: 1.2;
}

.emploi {
	color: $title-color;
	font-weight: bold;
}

@media only screen and (min-width: 768px) {
	.container__info {
		display: inline-block;
		margin-top: 52px;
	}

	.container__icon {
		float: right;
		margin: 22px 0 0 20px;
	}

	.name {
		font-size: 2.9em;
	}

	.emploi {
		font-size: 1.3em;
	}
}

@media only screen and (max-width: 767px) {
	.container__info {
		display: flex;
		flex-direction: column;
		padding-top: 40px;
	}

	.name {
		font-size: 2.4em;
		order: 1;
	}

	.container__icon {
		order: 3;
		margin-top: 20px;
		text-align: center;
	}

	.emploi {
		font-size: 1.1em;
		margin-top: 10px;
		order: 2;
	}
}