<div class="bandeau"></div>

<div class="container__icon">
	<a href="#" title="François Bouhours LinkedIn" class="fa-stack fa-sm link__circle">
	  <i class="fas fa-circle fa-stack-2x"></i>
	  <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
	</a><!--

	--><a href="#" title="François Bouhours Viade" class="fa-stack fa-sm link__circle">
	  <i class="fas fa-circle fa-stack-2x"></i>
	  <i class="fab fa-viadeo fa-stack-1x fa-inverse"></i>
	</a><!--

	--><a href="#" title="François Bouhours Email" class="fa-stack fa-sm link__circle">
	  <i class="fas fa-circle fa-stack-2x"></i>
	  <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
	</a>
</div>

<span class="container__info">
	<span class="name">François Bouhours.</span>
	<h1 class="emploi">Intégrateur - Développeur Web</h1>
</span>