<div class="bandeau"></div>

<span class="container__info">
	<span class="name">François Bouhours.</span>
	<div class="container__icon">
		<a href="https://www.linkedin.com/in/francois-bouhours-5b03983a/" target="_blank" title="François Bouhours LinkedIn" class="fa-stack fa-sm link__circle">
		  <i class="fas fa-circle fa-stack-2x"></i>
		  <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
		</a><!--

		--><a href="http://www.viadeo.com/p/002wsv73lsvrz6r" target="_blank" title="François Bouhours Viadeo" class="fa-stack fa-sm link__circle">
		  <i class="fas fa-circle fa-stack-2x"></i>
		  <i class="fab fa-viadeo fa-stack-1x fa-inverse"></i>
		</a><!--

		--><!--<a href="#" title="François Bouhours Email" class="fa-stack fa-sm link__circle">
		  <i class="fas fa-circle fa-stack-2x"></i>
		  <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
		</a>-->
	</div>
	<h1 class="emploi">Intégrateur - Développeur Web</h1>
</span>