<div class="container__nav">
	<a href="javascript:void(0)" title="Frontend" class="cat__box cat__one"><span>Frontend</span></a><!--
	--><a href="javascript:void(0)" title="Mobile" class="cat__box cat__two"><span>Mobile</span></a><!--
	--><a href="javascript:void(0)" title="Design" class="cat__box cat__three"><span>Design</span></a><!--
	--><a href="javascript:void(0)" title="Jeux vidéo" class="cat__box cat__four"><span>Jeux vidéo</span></a><!--
	--><a href="javascript:void(0)" title="3D" class="cat__box cat__five"><span>3D</span></a><!--
	--><span class="cat__quote"><span>...et gamer.</span></span>
</div>