<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Portfolio - François Bouhours</title>
		<meta charset="UTF-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		
		<!-- FAVICON -->
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="vendor/fontawesome/css/fontawesome-all.min.css">
		<link rel="stylesheet" type="text/css" href="public/stylesheets/styles.css">
	</head>

	<body>
		<div class="page-wrapper">
			<header class="header-wrapper"><%- include('partials/header'); %></header>

			<nav class="nav-wrapper"><%- include('partials/nav'); %></nav>

			<section class="content-wrapper"><%- include('partials/content'); %></section>

			<footer><%- include('partials/footer'); %></footer>
		</div>
	</body>
</html>