 <!DOCTYPE html>
<html>
	<head>
		<title>Portfolio - François Bouhours</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Yellowtail" rel="stylesheet"> 
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/fontawesome.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="public/stylesheets/styles.css">
	</head>

	<body>
		<div class="page-wrapper">
<i class="fab fa-linkedin-in"></i>
<i class="fab fa-viadeo"></i>

<i class="fas fa-envelope"></i>





		</div>
		</body>
</html>